@inject UserManager<ApplicationUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
	<a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
		<i class="bg-info bi-box-arrow-in-right"></i>Log In
	</a>

	<span style="padding: 4px;"></span>

	<a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register">
		<i class="bi bi-person-plus"></i>Register
	</a>
} else
{
	@* User profile section *@
	<div class="nav-item dropdown">
		<button class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="profile-btn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="bi bi-person-badge"></i> Hello @UserManager.GetUserName(User)
		</button>
		<div class="dropdown-menu" aria-labelledby="profile-btn">
			<a class="dropdown-item" asp-controller="Orders" asp-action="Index">
				<i class="bi bi-list"></i>Orders
			</a>

			@if (User.IsInRole("Admin"))
			{
				<a class="dropdown-item" asp-controller="Account" asp-action="Users">
					<i class="bi bi-people"></i>Users
				</a>
			}	
		</div>
	</div>

	<span style="padding: 4px;"></span>

	<form asp-controller="Account" asp-action="Logout">
		<button class="btn btn-outline-danger my-2 my-sm-0">
			<i class="bg-info bi-box-arrow-in-right"></i>Log out
		</button>
	</form>
}



